body{
	background: black;
}

.logo{
	width:150px;
	height: 120px;
	float: left;
	padding-left:0px;
	position:fixed;
}

.navigationbar{
	text-transform: uppercase;
	background: white;
	position: fixed;
	width:1366px;
	height: 70px;
	float: right;
	margin-left:150px;
	overflow-x:hidden;
}

header{
	background: white;
	margin-left: 100px;
}

.alignright{
	float: right;
	padding:0 20px;
	
}

.alignleft{
	margin-left:100px;
}

nav ul{
	padding-top: 50px;
}

nav li{
	display: inline;	
}

nav a{
	text-decoration: none;
	color: black;
	font-family: 'Merriweather', serif;
}

.herounit{
	width: 100%;
	height: 620px;
	margin-top: 123px;
}

.googlefont{
	background:#01122B;
	padding: 5px 0;
	height: 130px;
}

.style{
	font-family : 'Tangerine', cursive;
	font-size: 80px;
	padding:30px 300px;
	color: white;
}

.backgroundcolor{
	background: #DCDCDC;
	margin-top: 5px;
}

.fashion_grid1{

	padding: 50px 10px 20px ;
	color: black;
	width: 350px;  	
}

.figure_grid1 {
	margin-left:60px;
}

.figure_grid1 img{

	height: 350px;
}

.figurecaption{
	font-family : 'Tangerine', cursive;
	font-size: 50px;
}

.fashion{
	padding:20px 0 0 150px;
}

.fashiontip_heading,.beautytip_heading{
	
	background: #455166;
}

.fashiontip_heading{
	margin-top: 550px;
}

.fashiontip_content{
	float:right;
	width: 240px;
    font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
    line-height: 23px;
    font-size: 16px;	
}

.beautytip p,h1{
	color: black;
}
	
.beautytip2,.beautytip3{
	padding :20px 20px 0 0;
}

.beautytip_link{
	text-decoration: none;
	color:black;
	font-size: 15px;
	padding-left: 8px;
	font-family: vintage;
}

.beautytip_mainlink{
	text-decoration:none;
	color: black;
}

.fashiontip img{
	width:200px;
	height: 300px;
	float: left;
	padding-right: 20px;
}

.fashiontip_maincontent{
	font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
	line-height: 25px;
	font-size: 17px;
}

.beautytip_content,.beautytip_link{
	font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
	line-height: 25px;
	font-size: 17px;
} 

.beautytip_content{
	width:320px;
}  
	
.icon li{
	display: inline;
}

.icon i{
	font-size: 30px;
	color: white;
	float: right;
	margin: 0 50px 100px 0 ;
}

.icon_headline{
    color: white;
    font-size: 25px;
    margin-left: 1300px;
    margin-bottom: 20px;
}
 
.subscribe_headline{
    color: white;
    font-size: 30px;
    padding:0 0 5px 10px;
}

input{
    height: 30px;
    margin-left: 10px;
}

small{
	margin:0 500px;
   	padding:5px 500px;
   	color: white;
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x:hidden;
}

@media (max-width: 1400px){
	.style{
		font-size:80px;
	}
}

@media (max-width: 1346px){
	.style{
		font-size:65px;
	}
}

@media (max-width: 1206px){
	.style{
		font-size:50px;
	}
}
 
@media (max-width: 1066px){
	.style{
		font-size:40px;
	}
}


@media (min-width: 320px){
	.fashion_grid1{
	    padding-left: 80px;
	    width:390px;
	}
}

@media (min-width: 320px){
	.figure_grid1{
	    padding-left: 100px;
}

@media (min-width: 1021px){
	.fashion_grid1{

		margin-left: 0px;
	    padding:0 65px ;
	    width:180px;
	}
}

@media (min-width: 1099px){
	.fashion_grid1{

		margin-left: 0px;
	    padding:20px 70px 0 ;
	    width:200px;
	}
}



@media (min-width: 320px){
	.fashiontip_heading{
		margin-top: 1580px;
	}
}

@media (min-width: 1021px){
	.fashiontip_heading{
		margin-top: 550px;
	}
}

@media (min-width: 320px){
	.fashiontip{
		padding-left: 10px;
	}
	.fashiontip_maincontent{
		width: 750px;
		/*font-size: 10px;*/
	}
}
@media (min-width: 1021px){
	.fashiontip{
		padding-left: 0px;
	}
	.fashiontip_maincontent{
		width:960px;
	}
}